footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 209px;
  margin-top: 20px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.footer-logo {
  max-width: 120px;
  width: 100%;
}
.footer-text {
  font-size: 1.4em;
  color: #ffffff;
  text-align: center;
}

/*MEDIA QUERIES*/

@media (max-width: 1024px) {
  footer {
    gap: 30px;
    height: 180px;  }
  .footer-text {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  footer {
    gap: 20px;
    height: 150px;
  }
  .footer-content {
    gap: 1em;
  }
  .footer-logo {
    max-width: 60%;
    width: auto;
  }
  .footer-text {
    font-size: 12px;
    width: 120px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
