header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 45px 0;
  gap: 0.5rem;
}
nav {
  font-size: 1.5rem;
  font-weight: 500;
}
ul {
  display: flex;
  gap: 3.5rem;
}
li {
  list-style: none;
}
a {
  color: black;
}
.active {
  text-decoration: underline;
}

/*MEDIA QUERIES*/

@media (max-width: 1024px) {
  header {
    margin: 30px 0;
    gap: 0.5rem;
  }
  nav {
    font-size: 1.25rem;
  }
  nav ul {
    gap: 2rem;
  }
  .kasa-logo {
    width: 170px;
  }
}

@media (max-width: 768px) {
  header {
    text-transform: uppercase;
    margin: 20px 0;
    align-items: center;
    gap: 0.5rem;
  }
  nav ul {
    align-items: center;
    font-size: 12px;
    gap: 1rem;
    padding: 0;
  }
  .kasa-logo {
    width: 145px;
    max-width: 60%;
  }
}
