.bannerContainer {
  display: flex;
  border-radius: 25px;
  height: 223px;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --overlay-opacity: 0.6;
}
.bannerPicture {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
}
.bannerContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, var(--overlay-opacity));
}
.banner-overlay {
  position: absolute;
  inset: 0;
  margin: 0;
  padding: 0 1rem;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 0 4px 4px #00000040;
  z-index: 2;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.bannerContainer {
  display: flex;
  border-radius: 25px;
  height: 223px;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  --overlay-opacity: 0.6;
  background-color: #1a1a1a;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/*MEDIA QUERIES*/

@media (max-width: 1024px) {
  .bannerContainer {
    height: 160px;
  }
  .banner-overlay {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .bannerContainer {
    height: 111px;
  }
  .banner-overlay {
    font-size: 1.5rem;
  }
}
