.responsive {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  object-fit: cover;
  border-radius: 10px;
}
.image-wrapper {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 68%,
    rgba(0, 0, 0, 1) 100%
  );
}

.overlay-text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .overlay-text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .overlay-text {
    font-size: 14px;
  }
  .image-wrapper {
    aspect-ratio: 4/3;
  }
}
