.carrousel-container {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}
.carrousel-image {
  display: block;
  width: 100%;
  height: 415px;
  object-fit: cover;
}
.carrousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  width: 96px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  cursor: pointer;
  z-index: 20;
  transition: background-color 0.15s ease, transform 0.08s ease;
}
.carrousel-button-left {
  left: 18px;
}
.carrousel-button-right {
  right: 18px;
}
.carrousel-counter {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 0;
  font-size: 18px;
  z-index: 25;
}
button {
  border: none;
  background: transparent;
}

/*MEDIA QUERIES*/

@media (max-width: 1024px) {
  .carrousel-button {
    width: 80px;
    height: 80px;
    font-size: 50px;
  }
  .carrousel-counter {
    font-size: 16px;
  }
  .carrousel-image {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .carrousel-button {
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-width: 1.5px;
  }
  .carrousel-counter {
    display: none;
  }
  .carrousel-image {
    height: 255px;
  }
}
