.tag-list {
  display: flex;
  gap: 10px;
  padding: 0;
  flex-wrap: wrap;
}
.tag-item {
  background-color: #ff6060;
  color: white;
  height: 25px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 1024px) {
  .tag-item {
    font-size: 13px;
    height: 20px;
    padding: 4px 8px;
  }
}

@media (max-width: 768px) {
  .tag-item {
    font-size: 12px;
    height: 18px;
    padding: 3px 8px;
  }
}
