.rentals-section {
  background-color: rgb(246, 246, 246);
  padding: 50px;
  border-radius: 25px;
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.rental-card {
  max-width: 33%;
}
.banner-home {
  --overlay-opacity: 0.6;
}

@media (max-width: 1024px) {
  .rentals-section {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    gap: 30px;
  }
  .banner-overlay {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .rentals-section {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 20px;
    margin: 20px 0;
  }
  .banner-overlay {
    font-size: 24px;
    text-align: unset;
    text-shadow: none;
  }
}
