@use "./base/global";
@use "./components/Banner";
@use "./components/Card";
@use "./layout/Header";
@use "./layout/Footer";
@use "./pages/Home";
@use "./pages/About";
@use "./pages/Notfound";
@use "./pages/Rental";
@use "./components/Carrousel";
@use "./components/Tag";
@use "./components/Host";
@use "./components/Dropdowns";
@use "./components/Rating";
